@inherits LayoutComponentBase


@using Blazored.Modal
@using SEP3Tier1App.Authentication
@using SEP3Tier1App.Network
@inject CustomAuthenticationStateProvider CustomAuthenticationStateProvider
@inject INetworkSocket NetworkSocket;

<div class="sidebar">
    <NavMenu/>
</div>

<div class="main">
    <div class="top-row px-4" style="z-index: 50">
        <button class="btn btn-primary Georgia" @onclick="LogOut">Log Out</button>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
<BlazoredModal />

@code {
    private void LogOut()
    {
        CustomAuthenticationStateProvider.Logout();
    }

}
