@page "/ChangeUsername"
@using WebApplication.Network
@using WebApplication.Data
@using Microsoft.AspNetCore.Identity
@inject INetworkComp NetworkComp;
@inject NavigationManager NavigationManager
@inject ProfileData ProfileData
<h3>Change Your Username</h3>
<link rel="stylesheet" href="style.css">
<div id="Form" class="form">
    
    <input @bind="newusername" type="text" class="textbox" placeholder="Enter New UserName" id="NewUserName" required/>
    <br/>
    <div>
        <input type="submit" class="button" id="submitButton" value="Change" @onclick="ChangeUserPassword">
    </div>
    <p>@Update</p>
</div>

@code {
    private string newusername;
    private string Update = "";

    private async void ChangeUserPassword()
    {
        try
        {
            
            User user = new User()
                {
                    username = newusername,
                };
            try
            {
                Request response = await NetworkComp.ChangeUsername(user, ProfileData.username);
                if (response.requestOperation == RequestOperationEnum.SUCCESS)
                {
                    Console.WriteLine(response.o.ToString());
                    Update = response.o.ToString();
                    StateHasChanged();
                }
            }
            catch (Exception e)
            {
                NavigationManager.NavigateTo($"/Error/{e.Message}");

            }
                
            
        }
        catch (NullReferenceException e)
        {
            newusername = "";
            Update = "Fill out all fields.";
        }
    }

}