@page "/ChangePassword"
@using WebApplication.Network
@using WebApplication.Data
@using Microsoft.AspNetCore.Identity
@inject INetworkComp NetworkComp;
<h3>Change Your Password</h3>
<link rel="stylesheet" href="style.css">
<div id="Form" class="form">
    
    <input @bind="username" type="text" class="textbox" placeholder="Enter UserName" id="UserName" required/>
    <input @bind="password" type="password" class="passwordbox" placeholder="Enter Password" id="Password" required/>
    <input @bind="newpassword"type="password" class="passwordbox" style="float: right" placeholder="Enter New Password" id="NewPassword" required/>
    <br/>
    <div>
        <input type="submit" class="button" id="submitButton" value="Change" @onclick="ChangeUserPassword">
    </div>
    
    <p>@Update</p>
</div>

@code {
    private string username, password, newpassword;
    private string Update;

    private async void ChangeUserPassword()
    {
        if (password.Equals(newpassword))
        {
            Update = "New password is the same as old password";
        }
        else
        {
            User user = new User()
            {
                username =  username,
                password =  password,
                newPassword =  newpassword
            };
            RequestOperationEnum requestOperationEnum = await NetworkComp.ChangePassword(user);
            if (requestOperationEnum == RequestOperationEnum.SUCCESS)
            {
                Update = "You have successfully changed your password.";
                StateHasChanged();
            }
            else if (requestOperationEnum == RequestOperationEnum.ERROR)
            {
                //Navigate to Error page with database connection lost
            }
            else if (requestOperationEnum == RequestOperationEnum.WRONGPASSWORD)
            {
                Update = "You have entered a incorrect, old password";
                StateHasChanged();
            }
            else if (requestOperationEnum == RequestOperationEnum.WRONGUSERNAME)
            {
                Update = "You have entered a wrong username.";
                StateHasChanged();
            }
        }
        
    }

}