@page "/ChangeUsername"
@using WebApplication.Network
@using WebApplication.Data
@using Microsoft.AspNetCore.Identity
@inject INetworkComp NetworkComp;
<h3>Change Your Password</h3>
<link rel="stylesheet" href="style.css">
<div id="Form" class="form">
    
    <input @bind="username" type="text" class="textbox" placeholder="Enter UserName" id="UserName" required/>
    <input @bind="password" type="password" class="passwordbox" placeholder="Enter Password" id="Password" required/>
    <input @bind="newpassword"type="password" class="passwordbox" style="float: right" placeholder="Enter New Password" id="NewPassword" required/>
    <br/>
    <div>
        <input type="submit" class="button" id="submitButton" value="Change" @onclick="ChangeUserPassword">
    </div>
    <p>@Update</p>
</div>

@code {
    private string username ="", password, newpassword;
    private string Update = "";

    private async void ChangeUserPassword()
    {
        try
        {
            if (password.Equals(newpassword))
            {
                Update = "New password is the same as old password.";
            }
            else
            {
                User user = new User()
                {
                    username = username,
                    password = password,
                    newPassword = newpassword
                };
                Request response = await NetworkComp.ChangePassword(user);
                if (response.requestOperation == RequestOperationEnum.SUCCESS)
                {
                    Update = response.o.ToString();
                    StateHasChanged();
                }
                else if (response.requestOperation == RequestOperationEnum.ERROR)
                {
    //Navigate to Error page with database connection lost
                }
            }
        }
        catch (NullReferenceException e)
        {
            password = "";
            newpassword = "";
            Update = "Fill out all fields.";
        }
    }

}