@page "/Register"
@using WebApplication.Data
@using WebApplication.Network
@inject INetworkComp NetworkImpl
<h1>Create a New Account</h1>
<h2>And Find Your Next Mistake</h2>
<link rel="stylesheet" href="style.css">
<div id="Form" class="form">
    
    <input @bind="user.username" type="text" class="textbox" placeholder="Enter UserName" id="UserName" required/>
    <input @bind="user.email" type="Email" class="textbox" placeholder="Enter Email" id="Email" required/>
    <input @bind="user.password" type="password" class="passwordbox" placeholder="Enter Password" id="Password" required/>
    <input @bind="user.pwdagain"type="password" class="passwordbox" style="float: right" placeholder="Enter Password Again" id="PasswordAgain" required/>
    <div id="checkboxAbove18div">
        <input @bind="user.above18"type="checkbox" id="checkboxAbove18" required>
        <label for="checkboxAbove18">I am above 18</label>
    </div>
    <div>
        <input type="submit" class="button" id="submitButton" value="Sign Up" @onclick="RegisterUser">
    </div>
    
    <p>@Update</p>
</div>
@code {
    private string username, email, password, pwdagain;
    private bool above18;
    private string Update;
    private User user = new User();

    private async void RegisterUser()
    {
        Console.WriteLine($" {user.username} {user.password}  {user.pwdagain}  {user.email} {user.above18}");
        if (!user.password.Equals(user.pwdagain))
        {
            Update = "Both password fields must match + \n";
        }
        if (!user.above18)
        {
            Update = "You must above 18 years old. \n";
        }
        else
        {
            await NetworkImpl.RegisterUser(user);
        }
    }

}