@page "/Test"
@using SEP3Tier1App.Authentication
@inject CustomAuthenticationStateProvider CustomAuthenticationStateProvider
<AuthorizeView Policy="Vissing">
    <h3>Test</h3>
    <h3>Test</h3>
    <h3>Test</h3>
</AuthorizeView>


<AuthorizeView>
    <Authorized>
        <p>1233</p>
    </Authorized>

</AuthorizeView>

<p>here</p>


@code {

}