@page "/Test"
@using SEP3Tier1App.Authentication
@inject CustomAuthenticationStateProvider CustomAuthenticationStateProvider
<h3>Test</h3>
<AuthorizeView>
    <p>Hello</p>
</AuthorizeView>


@code {
    
}