body {
}

.form {
    width: 500px;
    margin: auto;
}

.textbox {
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
}

.passwordbox {
    height: 40px;
    width: 245px;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 35px;
}

h1 {
    font-size: 60px;
}

.button {
    height: 45px;
    width: 110px;
    background-color: hotpink;
    color: white;
    border: 0;
}















.myButton {
    box-shadow: 3px 4px 0px 0px #1564ad;
    background: #79bbff linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    border-radius:5px;
    border:1px solid #337bc4;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Arial, serif;
    font-size:17px;
    font-weight:bold;
    padding:12px 44px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.myButton:hover {
    background: #378de5 linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
}
.myButton:active {
    position:relative;
    top:1px;
}